.trending-tv-container {
    max-width: 1220px;
    background-color: white;
    margin: 0 auto;
    position: relative; /* O position relative aqui é para o botão de slide que esta como absoluto*/
}


.trending-tv-container .carousel {
    display: flex;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 20px;
    padding-top: 0;
}

.trending-tv-container .item {
    margin: 0 10px;
    text-align: left;
    position: relative;
}

.trending-tv-container .item img {
    width: 220px;
    height: 330px;
}

.trending-tv-container .item .release {
    color: #FF8001;
    font-weight: bold;
    margin-right: 1rem;
}

.trending-tv-container .item .genre {
    color: #FF8001;
    font-weight: bold;
}

.trending-tv-container .item .movie-title {
font-size: .8rem;
}

.trending-tv-container .item .tv-popularity {
    position: absolute;
    bottom: 36px;
    right: -5px;
    background-color: #FFB802;
    padding: 5px 15px;
    color: white;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.trending-tv-container .item .tv-less {
    background-color: #E23B07;
    position: absolute;
    bottom: 36px;
    right: -5px;
    padding: 5px 15px;
    color: white;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.trending-tv-container .item .tv-high {
    background-color: #16C632;
    position: absolute;
    bottom: 36px;
    right: -5px;
    padding: 5px 15px;
    color: white;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

/**********************************
/* BUTTONS
/**********************************/

.trending-tv-container .buttons button{
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
}

.trending-tv-container .buttons button img {
    padding: 13px 20px;
    background-color: #FF8001;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}

.trending-tv-container .buttons button {
    position: absolute;
    top: 35%;
    right: -10px;
}

.trending-tv-container .buttons .arrow-left {
    left: -10px;
}

.trending-tv-container .buttons button:active {
    transform: scale(1.05);
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.25);

}

@media (max-width: 800px) {
    .trending-tv-container .carousel {
        padding: 5px !important;
        height: 300px;
    }
    .trending-tv-container .item {
        width: 115px !important;
        height: 215px !important;
        margin: 5px !important;
    }

    .trending-tv-container .item img {
        width: 115px !important;
        height: 175px !important;
    }

    .trending-tv-container .buttons button {
        height: 25px;
        width: 25px;
        top: 25% !important;
        right: 20px;
    }
}