.dashboard-container {
        background-color: white;
       
}
.header-container {
    background-color: #FFB802;
}
.profile-header-container {
    margin: 0 auto;
    max-width: 1220px;
    height: 16.5rem;
    display: flex;
    align-items: center;
}
.profile-header-container .profile-container button {
    background-color: #16C632;
    border: none;
    padding: 5px;
    color: white;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.profile-header-container .profile-container div {
    color: #FF8001;
    border: 7px solid;
    overflow: hidden;
    height: 10.5rem;
    width: 10.5rem;
    border-radius: 50%;
    
}

.profile-header-container .profile-container label {
    cursor: pointer;
    
}

.profile-header-container img {
    width: 100%;
}

.profile-header-container .profile-container input {
    visibility: hidden;
}

.profile-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 20px;
    color: white;
}

.profile-content h1 {
    text-transform: capitalize;
}

.profile-content button {
    margin-top: .5rem;
    background-color: #16C632;
    width: 50px;
    border: none;
    padding: 5px;
    color: white;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.profile-content button:hover {
    background-color: #E23B07;
}

.dashboard-container .title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4rem;
    padding-bottom: 20px;
    max-width: 1220px;
    margin: 0 auto;
}

.dashboard-container .title {
    font-size: .75rem;
    display: flex;
    align-items: center;
    text-align: center;
    height: 52px;
}

.dashboard-container .title h1 {
    color: white;
    width: 490px;
    padding: 10px;
    padding-left: 30px;
    text-align: left;
    background-color: #FF8001;
}

.dashboard-container .movie-link .gener{
    font-weight: bold;
    padding: 18px;
    position: relative;
    cursor: pointer;
}

.dashboard-container .movie-link .gener-active::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 5px;
    left: 0;
    top: 0;
    background-color: #FF8001;
} 