.dashboard-container {
    background-color: white;
}
.header-container {
    background-color: #FFB802;
}
.profile-header-container {
    margin: 0 auto;
    max-width: 1220px;
    height: 16.5rem;
    display: flex;
    align-items: center;
}
.profile-header-container .profile-container button {
    background-color: #16C632;
    border: none;
    padding: 5px;
    color: white;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.profile-header-container .profile-container div {
    color: #FF8001;
    border: 7px solid;
    overflow: hidden;
    height: 10.5rem;
    width: 10.5rem;
    border-radius: 50%;
    
}

.profile-header-container .profile-container label {
    cursor: pointer;
   
}

.profile-header-container img {
    width: 100%;
}

.profile-header-container .profile-container input {
    visibility: hidden;
}

.profile-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 20px;
    color: white;
}

.profile-content button {
    margin-top: .5rem;
    background-color: #16C632;
    width: 50px;
    border: none;
    padding: 5px;
    color: white;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.profile-content button:hover {
    background-color: #E23B07;
}