.newsletter-container {
    background-color: #FF8001;
    padding: 30px;  
}

.newsletter-container h1 {
    text-align: left;
    color: white;
    border-bottom: 1px solid white;
    margin-bottom: 52px;
}

.newsletter {
    display: flex;
    justify-content: space-between;
}

.top-actor-actress__container {
    display: flex;
    flex-direction: column;
    color: white;
}

.top-actor-actress__container h2 {
    text-align: left;
    margin-bottom: 30px;

}

/***********************************
/*  TRAILERS
/***********************************/


.newsletter-container .trailers-container {
    color: white;
    text-align: left;
    max-width: 680px;
}

.newsletter-container .trailers-container .trailers {
    display: flex;
    flex-wrap: wrap;
    
}

@media (max-width: 1250px) {
    .newsletter-container  .newsletter {
        flex-wrap: wrap;
    } 
}

@media (max-width: 500px){
    .newsletter-container .trailers-container .trailers .movie{
        margin: 0 auto;
        margin-bottom: 1rem;
    }
}
