header {
    height: 62px;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.header-content {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1220px;
    height: 100%;
}

ul {
    display: flex;
}

li {
    margin-left: 2.5rem;
}

li a {
    font-weight: bold;
    color: #363231;
}

a:hover {
    color: #FF8001;
}

header .profile-container {
    color: #FF8001;
    
    height: 3rem;
    width: 3rem;
    border: 2px solid;
    border-radius: 50%;
    overflow: hidden;
}

header img {
    width: 100%;
}