.top-actors-container {
    display: flex;
    flex-direction: column;
    color: white;
    max-width: 460px;
}

.top-actors-container .top-actor-actress__item {
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    padding: 5px 10px;
    
}

.top-actors-container .top-actor-actress__item:hover {
    background-color: #E23B07;
}

.top-actors-container .top-actor-actress__item .img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
    border: 2px solid #38D934;
    background-color: white;
}

.top-actors-container .top-actor-actress__item  img {
    height: 100%;
}

.top-actors-container .top-actor-actress__item h3 {
    font-weight: 300;
    margin: 0 20px;
    max-width: 300px;
    border-bottom: 1px dotted white;
    text-align: right;
}

.top-actors-container .top-actor-actress__item span {
    color: #38D934;
    border: 2px solid #38D934;
    padding: 5px 10px;
    font-weight: bold;
}

