.signup-container {
    background-color: white;
    margin: 0 auto;
    border-top: 1px solid #E23B07;
    padding-top: 5rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
}

.signup-container .welcome {
    color: #FF8001;
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.signup-container form {
    height: 100%;
    display: flex;
    margin: 0 auto;
    width: 350px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-container form h1 {
    color: #FF8001;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.signup-container form input {
    border: 2px solid #c4c4c4;
    padding: 15px;
    margin-bottom: 1.25rem;
    width: 100%;
    outline: none;
}

.signup-container form fieldset {
    display: flex;
    width: 100%;
    border: none;
    color: #c4c4c4;
}

.signup-container form fieldset input[type="radio"]{
    appearance: none;
    background-color: #fff;
    color: #FF8001;
    padding: 0;
    margin-left: .2rem;
    margin-right: .5rem;
    height: 1rem;
    width: 1rem;
    border: 2px solid;
    border-radius: 50%;
    
    display: grid;
    place-content: center;
}

.signup-container form fieldset input[type="radio"]::before {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: #FF8001;
}

.signup-container form fieldset input[type="radio"]:checked::before{
    transform: scale(1);
}

.signup-container form button {
    width: 100%;
    background-color: #FF8001;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 50px;
    font-weight: 500;
    text-transform: uppercase;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: .5rem;
    cursor: pointer;
}

.signup-container form button:hover {
    background-color: #E23B07;
}

.signup-container span,
.signup-container a {
    color: #FF8001;
    cursor: pointer;
}

@media (max-width:800px) {
    .signup-container .signup {
        margin-bottom: 1rem;
    }
    .signup-container .welcome {
        font-size: 2rem;
    }
    .signup-container form h1  {
        font-size: 2rem;
        margin-top: 2rem;
    }
}