* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(180deg, #FFB802 0%, #E23B07 100%);
  background-repeat: no-repeat;
  color: #363231;
  font-size: .8rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
