* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Scrollbars styled*/
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background-color: #FF8001;
}

*::-webkit-scrollbar-thumb {
  background-color: #E23B07;
  border-radius: 20px;
}

body {
  background: linear-gradient(180deg, #FFB802 0%, #E23B07 100%);
  background-repeat: no-repeat;
  color: #363231;
  font-size: .8rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
