.similar-container {
    max-width: 440px;
    height: 1123px;
    overflow-y: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.similar-container li {
    margin: 5px 7px;
    transition: all ease;
}

.similar-container li:hover {
    transform: scale(.98);
}

.similar-container li img {
    width: 200px;
}

@media (max-width: 890px) {
    .similar-container {
        overflow-y: hidden !important;
        overflow-x: auto;
        max-width: 800px !important;
        height: 195px !important;
        flex-wrap: nowrap !important;
        margin: 0 !important;
        width: 440px;
    }
    .similar-container li img {
        width: 115px !important;
    }
}